.root {
  display: flex;
  flex-direction: column;
  width: 0px;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transform: translate3d(-0.5px, 0px, 0px);
  opacity: 0.5;
  pointer-events: none;
}
.svg___1HyZh {
  object-fit: cover;
  color: #ffffff;
  height: 16px;
  width: 16px;
  flex-shrink: 0;
}
.svg___34Ez6 {
  object-fit: cover;
  color: #ffffff;
  height: 16px;
  width: 16px;
  transform: rotate3d(0, 0, 1, 180deg);
  flex-shrink: 0;
}
