.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-PU2kSrpIWaun);
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
.freeBox__uwDL {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 0px;
  row-gap: 20px;
  position: relative;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__uwDL {
    padding-top: 20px;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.heroEyebrowPill:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 511px) {
  .heroEyebrowPill:global(.__wab_instance) {
    display: none;
  }
}
.freeBox___5EE1J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___5EE1J {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    column-gap: 0px;
  }
}
.freeBox__hAhg2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  flex-grow: 1;
  flex-basis: 60%;
  min-width: 0;
}
.text__zfd0H {
  color: var(--token-sxMiRhCxgPbQ);
}
.text__yBqNe {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 75px;
  letter-spacing: -3px;
  line-height: 0.9;
  max-width: 700px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__yBqNe {
    font-size: 55px;
  }
}
.span {
  color: #ffffff80;
}
.text___6ZUtg {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.freeBox__zyhl8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 40%;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 511px) {
  .freeBox__zyhl8 {
    align-items: flex-end;
    justify-content: flex-end;
    flex-basis: auto;
    height: 160px;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    row-gap: 0px;
    display: none;
  }
}
.freeBox__ispI2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  opacity: 0.4;
  aspect-ratio: 1;
  transform: rotate3d(0, 0, 1, 14deg);
  border-radius: 60px;
  padding: 10px;
}
.freeBox__tnVcw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 50px;
  padding: 40px;
  border: 1px dashed var(--token-Off7mEOZIgQq);
}
.svg___8A1V {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 100%;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  height: 100%;
  aspect-ratio: 1;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
}
.freeBox__vDed5 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0;
  top: 0;
  background: linear-gradient(
      160deg,
      #0f101200 0%,
      var(--token-PU2kSrpIWaun) 85%
    )
    0% 0% / 100% 100% repeat;
  bottom: 0;
  right: 0;
  min-height: 0;
}
@media (max-width: 511px) {
  .freeBox__vDed5 {
    left: 0px;
    top: 0px;
  }
}
.freeBox__qWeFb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  min-width: 0;
  border-radius: 20px;
}
@media (max-width: 1023px) {
  .freeBox__qWeFb {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__roAk {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  min-width: 0;
  min-height: 0;
}
.heroCardLink__sQrQc:global(.__wab_instance) {
  position: relative;
}
.svg__va2ZQ {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.cornerTDivider___3FMoy:global(.__wab_instance) {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .cornerTDivider___3FMoy:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.heroCardLink___07JSb:global(.__wab_instance) {
  position: relative;
}
.svg__gyMsn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.cornerTDivider__tJa0M:global(.__wab_instance) {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .cornerTDivider__tJa0M:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.heroCardLink__llku:global(.__wab_instance) {
  position: relative;
}
.svg__qppq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.cornerTDivider__e9Fx0:global(.__wab_instance) {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .cornerTDivider__e9Fx0:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.heroCardLink__uBcEg:global(.__wab_instance) {
  position: relative;
}
.svg___0LuN0 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__wse2R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  background: url("/plasmic/cryptocasinos/images/dotPatternGraySvg.svg") top 50% left 0% / 8px auto repeat;
  column-gap: 6px;
  min-width: 0;
  border-radius: 25px;
  padding: 14px 20px;
}
@media (max-width: 1023px) {
  .freeBox__wse2R {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    align-items: stretch;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 511px) {
  .freeBox__wse2R {
    row-gap: 11px;
    column-gap: 0px;
    padding: 14px 10px;
  }
}
.freeBox__hQlk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 10px;
  padding: 6px;
}
@media (max-width: 511px) {
  .freeBox__hQlk {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    column-gap: 0px;
  }
}
.linkButton___3DaL:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1023px) {
  .linkButton___3DaL:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__qlYnF {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___1Nvb {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__db89C:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1023px) {
  .linkButton__db89C:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___8I8L9 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__abOnz {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__hmk3I {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--token-PU2kSrpIWaun);
  column-gap: 6px;
  border-radius: 20px;
  padding: 7px 22px 7px 19px;
}
.text__wkW16 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.4;
  min-width: 0;
}
.freeBox___1OOz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.linkCoinIcon__b4AdV:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__cksVl:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__qv5NH:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__iHvdr:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon___89YcN:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__vsrJ1:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__rZctq:global(.__wab_instance) {
  position: relative;
}
.freeBox__ezV7R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #ffffff0f;
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 0;
  flex-shrink: 0;
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.freeBox__im7X0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
}
.sectionHeader__nJn54:global(.__wab_instance) {
  position: relative;
}
.linkButton__rJ0Mx:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__ndI0D {
  animation: none;
}
.svg___2SbDp {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__d52We {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.cardsCasinos {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.cardCasinoList___16GSh:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__za7GE:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__oM3NC:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__avE8O:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__nacy8:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__pTdPe:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardCasinoList__dbTnp:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon___2F9Kz:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__g3Z8Y:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__cVwR6:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__uUkKm:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___038ZA:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardCasinoList__owWlM:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__nCWe:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__wjXc:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___1W5Ms:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__hXb9Y:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__nexqy:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.infoBlockRank:global(.__wab_instance) {
  position: relative;
}
.sectionHeader__i8SxN:global(.__wab_instance) {
  position: relative;
}
.linkButton__hBhIv:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__qw3Yj {
  animation: none;
}
.svg__vlKIw {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__tcJlf {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox___6UUYu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___6UUYu {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.cardBentoTopic__v7Ki8:global(.__wab_instance) {
  grid-column-end: span 3;
}
.svg__hx3Il {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-sxMiRhCxgPbQ);
}
.tagPill__zPnrL:global(.__wab_instance) {
  position: relative;
}
.tagPill__k9Btr:global(.__wab_instance) {
  position: relative;
}
.tagPill__gridU:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__srcSr:global(.__wab_instance) {
  grid-column-end: span 3;
}
.svg__z6EAp {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-p2QTq273_LQh);
}
.tagPill__kb0U:global(.__wab_instance) {
  position: relative;
}
.tagPill__couEz:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic___0JVp:global(.__wab_instance) {
  grid-column-end: span 2;
}
.svg__zqoCb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-6ezJMcDkCpjz);
}
.tagPill__uv4Ef:global(.__wab_instance) {
  position: relative;
}
.tagPill__gS6Mi:global(.__wab_instance) {
  position: relative;
}
.tagPill__rUQvs:global(.__wab_instance) {
  position: relative;
}
.tagPill___2DdG6:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__ezGS:global(.__wab_instance) {
  grid-column-end: span 2;
}
.svg__riu0 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-s9GqGn4DBJXG);
}
.tagPill__zQamo:global(.__wab_instance) {
  position: relative;
}
.tagPill__qMwaN:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__sz5Ib:global(.__wab_instance) {
  grid-column-end: span 2;
}
.svg__uLgbm {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-DV-hmmuE7DB3);
}
.tagPill__ngUl7:global(.__wab_instance) {
  position: relative;
}
.tagPill__koW39:global(.__wab_instance) {
  position: relative;
}
.tagPill__uwiNe:global(.__wab_instance) {
  position: relative;
}
.tagPill__ttAcx:global(.__wab_instance) {
  position: relative;
}
.tagPill__jtKg:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__nHnFo:global(.__wab_instance) {
  grid-column-end: span 3;
}
.svg__j5YGe {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-sxMiRhCxgPbQ);
}
.tagPill__uwKbK:global(.__wab_instance) {
  position: relative;
}
.tagPill__vffZt:global(.__wab_instance) {
  position: relative;
}
.tagPill__zhg2:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__o8YrK:global(.__wab_instance) {
  grid-column-end: span 3;
}
.svg__cB77G {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: #ffc736;
}
.tagPill__dgJor:global(.__wab_instance) {
  position: relative;
}
.tagPill__cMddz:global(.__wab_instance) {
  position: relative;
}
.tagPill__lRmd:global(.__wab_instance) {
  position: relative;
}
.sectionHeader__twzng:global(.__wab_instance) {
  position: relative;
}
.cardPriceChart:global(.__wab_instance) {
  margin-bottom: 40px;
}
.sectionHeader__cTr3U:global(.__wab_instance) {
  position: relative;
}
.linkButton__t7Hm:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__rOiCg {
  animation: none;
}
.svg__m6Z0U {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__ri4Sg {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__mhLDy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__mhLDy {
    margin-bottom: 0px;
  }
}
.freeBox___1TBG {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___1TBG {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.cardArticleFeatureGrid:global(.__wab_instance) {
  grid-row-end: span 2;
  grid-column-end: span 2;
}
@media (max-width: 511px) {
  .cardArticleFeatureGrid:global(.__wab_instance) {
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
}
.cardArticleNoCover__mjwzY:global(.__wab_instance) {
  grid-column-end: span 1;
}
.tagPill__l0Gfk:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__ow0FQ {
  animation: none;
}
.linkCoinIcon__uDqhm:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__s1I5G:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__wIw03:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardArticleNoCover__z26Af:global(.__wab_instance) {
  grid-column-end: span 1;
}
.tagPill__vaouN:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__fJrIh {
  animation: none;
}
.linkCoinIcon__jNuwc:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__s4HsH:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__fiRh:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.sectionHeader__mgzP3:global(.__wab_instance) {
  position: relative;
}
.linkButton__dfGB:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___6Njlx {
  animation: none;
}
.svg__xaMzE {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__oprwe {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__ytNwg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__ytNwg {
    margin-bottom: 0px;
  }
}
.freeBox__uuOeC {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__uuOeC {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 20px;
  }
}
.newsGridItem___3DzcV:global(.__wab_instance) {
  position: relative;
}
.tagPill__uYwZp:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__haCl {
  animation: none;
}
.tagPill__kkfEk:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__j0JUr {
  animation: none;
}
.linkCoinIcon___1DGuj:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__gxDb7:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__h9UNg:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__mzQhq:global(.__wab_instance) {
  position: relative;
}
.tagPill__yxW4L:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__zufx8 {
  animation: none;
}
.tagPill__pM5Eq:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__fJSwg {
  animation: none;
}
.tagPill__a2T39:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__iiq9 {
  animation: none;
}
.linkCoinIcon__oNIq:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__tYpV:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__yVgeJ:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.sectionHeader___8Kdb0:global(.__wab_instance) {
  position: relative;
}
.linkButton__rkNi8:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___5WSjn {
  animation: none;
}
.svg__uf4IP {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__dHtK5 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox___25Gl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox___25Gl {
    margin-bottom: 0px;
  }
}
.freeBox___1OovW {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox___1OovW {
    margin-bottom: 0px;
  }
}
@media (max-width: 511px) {
  .freeBox___1OovW {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.cardArticleNoCover__xtmsg:global(.__wab_instance) {
  grid-column-end: span 1;
}
.tagPill___9Uwdo:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___7EoR {
  animation: none;
}
.linkCoinIcon___0IGu7:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__cVdR:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__znsP:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardArticleNoCover__bc2NS:global(.__wab_instance) {
  grid-column-end: span 1;
}
.tagPill__akSj0:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___8XlBx {
  animation: none;
}
.linkCoinIcon__gnO9Z:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__taZhy:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__tY1Gg:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardArticleNoCover__joJky:global(.__wab_instance) {
  grid-column-end: span 1;
}
.tagPill__onjcm:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___9HvRo {
  animation: none;
}
.linkCoinIcon___3L55L:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__s6Xum:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__vRs6L:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: auto;
  top: auto;
  z-index: 1;
  row-gap: 30px;
  padding-bottom: 80px;
  flex-shrink: 0;
  min-height: 0;
}
@media (max-width: 1023px) {
  .sidebar {
    width: 100%;
    padding-bottom: 20px;
    height: auto;
    min-width: 0;
  }
}
.sidebarCategories:global(.__wab_instance) {
  position: relative;
}
.sidebarLivePrices:global(.__wab_instance) {
  position: relative;
}
.sticky {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 90px;
  z-index: 1;
  row-gap: 30px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .sticky {
    position: relative;
    left: auto;
    top: auto;
  }
}
