.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-PU2kSrpIWaun);
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__wXhc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--token-eI5HWtMjxYZN);
  margin-left: auto;
  margin-right: auto;
  row-gap: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  min-width: 0;
}
.freeBox__bPmHn {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;
  flex-basis: 60%;
  text-align: center;
  min-width: 0;
}
.text___5KvXa {
  animation: none;
  color: var(--token-sxMiRhCxgPbQ);
}
.text__dSlJm {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  font-size: clamp(38px, 6vw, 54px);
  letter-spacing: -3px;
  line-height: 0.9;
  max-width: 700px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
.text__pyOph {
  animation: none;
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.freeBox__nkMQa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}
.freeBox__my0K1 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  background: url("/plasmic/cryptocasinos/images/dotPatternGraySvg.svg") top 50% left 50% / 8px auto repeat;
  column-gap: 6px;
  min-width: 0;
  border-radius: 30px;
  padding: 16px;
}
.freeBox__dpO3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-PU2kSrpIWaun);
  column-gap: 6px;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 10px;
  padding: 16px;
}
.freeBox__gvSpd {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 6px;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  padding-bottom: 20px;
  min-width: 0;
  border-bottom: 1px solid #ffffff1a;
}
.linkButton__wjeq3:global(.__wab_instance) {
  animation: none;
}
.svg__hgIAl {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__vm6Yh {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton___9ZquL:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__zymnD {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__ydGBs {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__kAbhA:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__fx2PF {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__t5VxO {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__dqiyN:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__z0Ntb {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__d31PQ {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__mizWh:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__iYO {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___23Nyj {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__hnYmQ:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__hcHgC {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__u6Dk5 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__pXbkC:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__itYnF {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__hLqac {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__u8Frw:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg___2GeLy {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___9N8H {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton___7FBsg:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg___4KnoD {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__kpSK {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__vVvP:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__oa8PT {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___767Yb {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__kwnVy:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__bkfxn {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___9IvNy {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.togglesCoins:global(.__wab_instance) {
  margin-top: 20px;
}
.content {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.leftContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 30px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .leftContent {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.freeBox___8RvyC {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___8RvyC {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 20px;
  }
}
.newsGridItem__fRgyT:global(.__wab_instance) {
  position: relative;
  grid-column-end: span 2;
}
@media (max-width: 511px) {
  .newsGridItem__fRgyT:global(.__wab_instance) {
    grid-column-end: span 1;
  }
}
.tagPill___3TCab:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__kjAKb {
  animation: none;
}
.tagPill__xg1Rz:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__kuLuK {
  animation: none;
}
.linkCoinIcon__pckFn:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__bIsQt:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__o6Uy3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__x6KjN:global(.__wab_instance) {
  position: relative;
}
.tagPill___7GmqF:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__kEo1I {
  animation: none;
}
.tagPill__vmVjz:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___9Sljo {
  animation: none;
}
.tagPill__rFj7M:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__yNosT {
  animation: none;
}
.linkCoinIcon__sAo65:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___3GwVo:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__eEc7V:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__frxR2:global(.__wab_instance) {
  position: relative;
}
.tagPill__yymR6:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__tausB {
  animation: none;
}
.tagPill__tXwjJ:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__w8Z37 {
  animation: none;
}
.tagPill___99SG4:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__m0Eto {
  animation: none;
}
.linkCoinIcon__tp5O0:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__q4Nuf:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__am6J7:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__pmZv0:global(.__wab_instance) {
  position: relative;
}
.tagPill__mI1Bi:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__p5PM {
  animation: none;
}
.tagPill__pq99:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__tiHfK {
  animation: none;
}
.tagPill__ezsSe:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__ubxxA {
  animation: none;
}
.linkCoinIcon__omxB:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__qs4Cw:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___9V7Lw:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem___3CIv3:global(.__wab_instance) {
  position: relative;
}
.tagPill__m9VE:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__fZeP {
  animation: none;
}
.tagPill__vVcip:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__kxFm1 {
  animation: none;
}
.tagPill__nzBf2:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__icaE5 {
  animation: none;
}
.linkCoinIcon__t5Vmf:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__r9Qsq:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__fl38I:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__ijaQh:global(.__wab_instance) {
  position: relative;
}
.tagPill__uz3MV:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__doRHo {
  animation: none;
}
.tagPill__rxVaq:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__namth {
  animation: none;
}
.tagPill__y7OHg:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__o7Ukr {
  animation: none;
}
.linkCoinIcon__ptCbO:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__fWxEv:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__vD3Q:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__wi3H7:global(.__wab_instance) {
  position: relative;
}
.tagPill___0Wcrg:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__nrQcK {
  animation: none;
}
.tagPill___2EleT:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__yrwvl {
  animation: none;
}
.tagPill__gxSmj:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__sYvjY {
  animation: none;
}
.linkCoinIcon__lQ586:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__bjt3S:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__mtGxX:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.pagination:global(.__wab_instance) {
  position: relative;
}
.sidebar {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 30px;
  padding-bottom: 80px;
  flex-shrink: 0;
  min-height: 0;
}
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}
.sidebarCategories:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.sticky {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 90px;
  z-index: 1;
  row-gap: 30px;
  min-width: 0;
}
.sidebarRecentArticles:global(.__wab_instance) {
  animation: none;
}
.cardCta:global(.__wab_instance) {
  animation: none;
}
