.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-PU2kSrpIWaun);
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__ofSkB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--token-eI5HWtMjxYZN);
  margin-left: auto;
  margin-right: auto;
  row-gap: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  min-width: 0;
}
.freeBox__yGbxq {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;
  flex-basis: 60%;
  text-align: center;
  min-width: 0;
}
.text__wIpR1 {
  animation: none;
  color: var(--token-sxMiRhCxgPbQ);
}
.text__r2In {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 75px;
  letter-spacing: -3px;
  line-height: 0.9;
  max-width: 700px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
.text__fyREc {
  animation: none;
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.freeBox___3WTyx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}
.freeBox__iwjPz {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  background: url("/plasmic/cryptocasinos/images/dotPatternGraySvg.svg") top 50% left 50% / 8px auto repeat;
  column-gap: 6px;
  min-width: 0;
  border-radius: 30px;
  padding: 16px;
}
.freeBox__de1W7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-PU2kSrpIWaun);
  column-gap: 6px;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 10px;
  padding: 16px;
}
.freeBox__hHL8 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 6px;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  padding-bottom: 20px;
  min-width: 0;
  border-bottom: 1px solid #ffffff1a;
}
.linkButton__xftWb:global(.__wab_instance) {
  animation: none;
}
.svg___9MfTb {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__qqYdh {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__xayzy:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__lg3Wq {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__cThCj {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__yWPrc:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__g7H0 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__zcSmj {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__qwplX:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__hVlEp {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__jUh3X {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__yxwa:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__mcvbY {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__cJ1NQ {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__sTzNx:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__j95LI {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__vg5Bc {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__boFg:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg___373Xy {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__lzfBs {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__pThAm:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__kvtjp {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__po2At {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__lfHhX:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__yLay4 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___9NO8C {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__cXjF1:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg___8WOew {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__hqvdb {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__gfQkl:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__xjuMz {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__dsY5Z {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.togglesCoins:global(.__wab_instance) {
  margin-top: 20px;
}
.content {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.leftContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 30px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .leftContent {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.freeBox__ci8Iy {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__ci8Iy {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 20px;
  }
}
.newsGridItem___0Ey0M:global(.__wab_instance) {
  position: relative;
  grid-column-end: span 2;
}
@media (max-width: 511px) {
  .newsGridItem___0Ey0M:global(.__wab_instance) {
    grid-column-end: span 1;
  }
}
.tagPill__nE7PF:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___8NFx4 {
  animation: none;
}
.tagPill__nDuwb:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__jq89T {
  animation: none;
}
.linkCoinIcon__mUg4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__mWdhq:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__cUe6S:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__nxEe1:global(.__wab_instance) {
  position: relative;
}
.tagPill__orgp0:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__ifzru {
  animation: none;
}
.tagPill__n5HK:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__ciVe {
  animation: none;
}
.tagPill__kaVS:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__hotr1 {
  animation: none;
}
.linkCoinIcon__bZ4Xd:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__cce7T:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___6A7Ms:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__mvVi:global(.__wab_instance) {
  position: relative;
}
.tagPill___8GIyF:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__p8O5 {
  animation: none;
}
.tagPill___1LOqG:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___111C5 {
  animation: none;
}
.tagPill__fsVpe:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__don0M {
  animation: none;
}
.linkCoinIcon__t5XuF:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__vVm:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__lIfXi:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__b6Vsf:global(.__wab_instance) {
  position: relative;
}
.tagPill__e0KVo:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__sCz0I {
  animation: none;
}
.tagPill___5XSZ:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__etv5 {
  animation: none;
}
.tagPill___6O2Wr:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__jv7D0 {
  animation: none;
}
.linkCoinIcon__bSy5D:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___7Uyt:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__nkmPd:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__jzRgX:global(.__wab_instance) {
  position: relative;
}
.tagPill___28XCl:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__qwXwJ {
  animation: none;
}
.tagPill__gMeu:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___2T1L {
  animation: none;
}
.tagPill__bPjlM:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___3WosI {
  animation: none;
}
.linkCoinIcon__phhS1:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___121Zd:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__yUn2R:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__j28Jk:global(.__wab_instance) {
  position: relative;
}
.tagPill___0VPhr:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___7FbSm {
  animation: none;
}
.tagPill__auOo:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__awMpp {
  animation: none;
}
.tagPill__aceNk:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___4WtX3 {
  animation: none;
}
.linkCoinIcon___0CLxc:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__kCxS7:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___1T6K3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem___4Zzns:global(.__wab_instance) {
  position: relative;
}
.tagPill__yaShF:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__fajnt {
  animation: none;
}
.tagPill__xejuY:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__jaD3F {
  animation: none;
}
.tagPill__dwy58:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__tpgU8 {
  animation: none;
}
.linkCoinIcon___8KknL:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__mupuZ:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__fVaC4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.pagination:global(.__wab_instance) {
  position: relative;
}
.sidebar {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 30px;
  padding-bottom: 80px;
  flex-shrink: 0;
  min-height: 0;
}
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}
.sidebarCategories:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.sticky {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 90px;
  z-index: 1;
  row-gap: 30px;
  min-width: 0;
}
.sidebarRecentArticles:global(.__wab_instance) {
  animation: none;
}
.cardCta:global(.__wab_instance) {
  animation: none;
}
