.root {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  position: relative;
  row-gap: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .root {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0px;
  }
}
.buttonAll:global(.__wab_instance) {
  animation: none;
}
.toggles {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  column-gap: 6px;
  flex-grow: 1;
  flex-wrap: wrap;
  row-gap: 6px;
}
@media (max-width: 1023px) {
  .toggles {
    justify-content: flex-start;
    align-content: flex-start;
  }
}
.toggleBtc:global(.__wab_instance) {
  flex-shrink: 0;
}
.toggleDot:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.toggleUsdt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.toggleAda:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.toggleEth:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.toggleXrp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.toggleSol:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .freeBox {
    display: none;
  }
}
