.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-PU2kSrpIWaun);
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.hero {
  animation: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  column-gap: 40px;
  min-width: 0;
  padding: 40px 10px;
}
@media (max-width: 1023px) {
  .hero {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: stretch;
    column-gap: 0px;
  }
}
.freeBox__aNvR {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  position: relative;
  min-width: 0;
}
.text__eI4V9 {
  animation: none;
  position: relative;
  color: var(--token-QL0xMMXWaeGp);
  font-size: 12px;
  text-transform: uppercase;
}
.freeBox__pSNfB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  align-content: flex-start;
  min-width: 0;
}
.freeBox__x9Gky {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  column-gap: 20px;
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 102px;
  flex-shrink: 0;
  border-radius: 60px;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 511px) {
  .img {
    width: 72px;
    flex-shrink: 0;
  }
}
.freeBox__xwquu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.text___60Wh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
  min-width: 0;
}
.freeBox__t9GRp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__ormf4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  background: #9385ff1a;
  font-size: 14px;
  border-radius: 6px;
  padding: 2px 8px 2px 4px;
  border: 1px solid var(--token-6ezJMcDkCpjz);
}
.svg__eZcIs {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-6ezJMcDkCpjz);
  width: 18px;
  flex-shrink: 0;
  height: 1em;
}
.text__gcHux {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-6ezJMcDkCpjz);
  min-width: 0;
}
.freeBox__a0COh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.linkSocial__r6U5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gQGxU {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.linkSocial__c2Bwp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__a5Nhh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.linkSocial__fodg2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ubaz8 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.linkSocial__j8Jre:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iVlwv {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.linkSocial__goWTm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fHEb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.text__efEd0 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  line-height: 2;
  min-width: 0;
}
.linkCoinIcon__ynN93:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__aYqWo:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__ecq3P:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.content {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.leftContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 30px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .leftContent {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.sectionHeader:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__sdIww {
  animation: none;
}
.text__zh27 {
  animation: none;
}
.freeBox__auDir {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__auDir {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 20px;
  }
}
.newsGridItem__zSyru:global(.__wab_instance) {
  position: relative;
  grid-column-end: span 2;
}
@media (max-width: 511px) {
  .newsGridItem__zSyru:global(.__wab_instance) {
    grid-column-end: span 1;
  }
}
.tagPill__xJx1H:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___2LZKk {
  animation: none;
}
.tagPill__btkQh:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__tIkp4 {
  animation: none;
}
.linkCoinIcon__hidrZ:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__ouk4J:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__iGrXp:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__uPpVd:global(.__wab_instance) {
  position: relative;
}
.tagPill__e2Eis:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__h49Zr {
  animation: none;
}
.tagPill__o3Bct:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__z0Hcg {
  animation: none;
}
.tagPill__if8F8:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__kRhrS {
  animation: none;
}
.linkCoinIcon__nB7FA:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___9TcCg:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___3RogJ:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__h1Dq3:global(.__wab_instance) {
  position: relative;
}
.tagPill__wHLcn:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__kdTc0 {
  animation: none;
}
.tagPill__pi5Kg:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__uZts {
  animation: none;
}
.tagPill___25Whv:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__agtxK {
  animation: none;
}
.linkCoinIcon__rMjRn:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__bOake:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___3KfE:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__v7Pbi:global(.__wab_instance) {
  position: relative;
}
.tagPill__pkyV9:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__zp7Qr {
  animation: none;
}
.tagPill__ij66C:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__yyfiX {
  animation: none;
}
.tagPill__gj33E:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__thvM3 {
  animation: none;
}
.linkCoinIcon__kcLq:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__yi87N:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__d7KpZ:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__mRrU:global(.__wab_instance) {
  position: relative;
}
.tagPill___5PyNd:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__oG4Wa {
  animation: none;
}
.tagPill__ecEBr:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__mh2J5 {
  animation: none;
}
.tagPill__bNwOe:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__er3Xr {
  animation: none;
}
.linkCoinIcon__dyTdx:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__zYvEf:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__v2SYv:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__mvwd8:global(.__wab_instance) {
  position: relative;
}
.tagPill__utRen:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___9XzL4 {
  animation: none;
}
.tagPill__qWjWj:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__wkUaH {
  animation: none;
}
.tagPill__br5G:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__bHojZ {
  animation: none;
}
.linkCoinIcon__qjrGj:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___1Ind:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__buMwa:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__bfOiy:global(.__wab_instance) {
  position: relative;
}
.tagPill___9ArAb:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___7CwSo {
  animation: none;
}
.tagPill__fgRk4:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__m5GC {
  animation: none;
}
.tagPill___56Uty:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__z2Tpc {
  animation: none;
}
.linkCoinIcon__jdwCj:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__v3VoH:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___0M0Gg:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.pagination:global(.__wab_instance) {
  position: relative;
}
.sidebar {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 30px;
  padding-bottom: 80px;
  flex-shrink: 0;
  min-height: 0;
}
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}
.sidebarCategories:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.sticky {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 90px;
  z-index: 1;
  row-gap: 30px;
  min-width: 0;
}
.sidebarRecentArticles:global(.__wab_instance) {
  animation: none;
}
.cardCta:global(.__wab_instance) {
  animation: none;
}
