.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-PU2kSrpIWaun);
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
.freeBox___1J4Df {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 0px;
  row-gap: 20px;
  position: relative;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___1J4Df {
    padding-top: 20px;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.freeBox__oiOgn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  column-gap: 0px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__oiOgn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
@media (max-width: 511px) {
  .freeBox__oiOgn {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    column-gap: 0px;
  }
}
.freeBox__xfNkm {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 30px;
  flex-grow: 1;
  flex-basis: 50%;
  padding-right: 10px;
}
@media (max-width: 1023px) {
  .freeBox__xfNkm {
    padding-right: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: auto;
    flex-grow: 0;
  }
}
.freeBox__pUqzJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  padding-right: 40px;
  min-width: 0;
}
.img {
  object-fit: cover;
  margin-bottom: 20px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 100px;
}
.img > picture > img {
  object-fit: cover;
}
.text__hQiOg {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 45px;
  letter-spacing: -3px;
  line-height: 1;
  max-width: 700px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__hQiOg {
    font-size: 55px;
  }
}
.text__tWalq {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.freeBox__nm9NE {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  min-width: 0;
  border-radius: 20px;
}
.freeBox__uKyG {
  animation: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  min-width: 0;
  min-height: 0;
}
.heroCardLink__wP5Qe:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__soxcq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.cornerTDivider__iqmra:global(.__wab_instance) {
  animation: none;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
.cornerTDivider__tIhl:global(.__wab_instance) {
  animation: none;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
.heroCardLink___1KQ0B:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__nU1PW {
  animation: none;
}
.text___5N3Ei {
  animation: none;
}
.svg__vLpxw {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__mQzRj {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 50%;
  min-height: 0;
}
@media (max-width: 511px) {
  .freeBox__mQzRj {
    align-items: flex-end;
    justify-content: flex-end;
    flex-basis: auto;
    height: 160px;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    row-gap: 0px;
    display: none;
  }
}
.cardPriceChart:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__xvQ0N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #ffffff0f;
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 0;
  flex-shrink: 0;
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.freeBox__gqLmD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
}
.sectionHeader__dHp2I:global(.__wab_instance) {
  max-width: 100%;
}
.linkButton__lmXgy:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__uhKmd {
  animation: none;
}
.svg__xs1Fy {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__ohp4B {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__opkCp {
  animation: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__opkCp {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.cardArticleCover:global(.__wab_instance) {
  grid-row-end: span 2;
  grid-column-end: span 2;
}
.cardArticleNoCover__m9F50:global(.__wab_instance) {
  animation: none;
  grid-column-end: span 1;
}
.text__vrJLr {
  animation: none;
}
.text__fg1Zt {
  animation: none;
}
.tagPill__gSRsj:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__hJnW {
  animation: none;
}
.linkCoinIcon__qw1Ey:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__zkG7S:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__zsvlq:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardArticleNoCover__mWjtd:global(.__wab_instance) {
  animation: none;
  grid-column-end: span 1;
}
.text___2GS3C {
  animation: none;
}
.text__baa5H {
  animation: none;
}
.tagPill__m9Tma:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__awh7P {
  animation: none;
}
.linkCoinIcon__dmRkK:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__xrOQu:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__zr7Tp:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardArticleNoCover__m1VRz:global(.__wab_instance) {
  animation: none;
  grid-column-end: span 1;
}
.text__g6Ob2 {
  animation: none;
}
.text__oprn {
  animation: none;
}
.tagPill__fGvId:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__dzVt3 {
  animation: none;
  height: auto;
}
.linkCoinIcon___1Kxp2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___5KPeg:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__dChQh:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardArticleNoCover__q2X9E:global(.__wab_instance) {
  animation: none;
  grid-column-end: span 1;
}
.text__xPt4C {
  animation: none;
}
.text___8U11P {
  animation: none;
}
.tagPill__onLpE:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__gdDMt {
  animation: none;
}
.linkCoinIcon__tYpZw:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__z8XGb:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__ojZzh:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.sectionHeader__oTiAg:global(.__wab_instance) {
  max-width: 100%;
}
.linkButton__d5Oe:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__pljq {
  animation: none;
}
.svg__fuXu0 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__ktqpj {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.cardsCasinos {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.cardCasinoList__hNwk5:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__tBosk:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__trdL4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__mIyWi:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__cAMxY:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__bZz2I:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardCasinoList__rpD69:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__scE26:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__wg0Jy:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__z7J0P:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___8URa:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__sWfHd:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardCasinoList__oV6Yl:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__lwKuo:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__mCmPk:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___2Ltno:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__fVXs:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__zx34G:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.infoBlockRank:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ndeF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__ndeF {
    margin-bottom: 0px;
  }
}
.sectionHeader__wrIr9:global(.__wab_instance) {
  max-width: 100%;
}
.linkButton__c38YW:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___7J25B {
  animation: none;
}
.svg__wfUld {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___4EeWf {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__bUDbg {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__bUDbg {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 20px;
  }
}
.newsGridItem___3YluM:global(.__wab_instance) {
  position: relative;
}
.tagPill__vyarN:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__b57Wy {
  animation: none;
}
.tagPill__mvy3F:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__aGpwI {
  animation: none;
}
.linkCoinIcon__mYxAh:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__b5Wz1:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__lzKj9:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__l0SEw:global(.__wab_instance) {
  position: relative;
}
.tagPill___3J4Ok:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__tJnl7 {
  animation: none;
}
.tagPill__yOuIc:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__sdyZu {
  animation: none;
}
.tagPill__uwUSf:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__qLFag {
  animation: none;
}
.linkCoinIcon__sTUwG:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__dHJmm:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__eWwUb:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__yzu8Q:global(.__wab_instance) {
  position: relative;
}
.tagPill__pnzLy:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___7JGur {
  animation: none;
}
.tagPill__cjdC:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__xaZnb {
  animation: none;
}
.tagPill__lq9Ia:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__q0KvV {
  animation: none;
}
.linkCoinIcon__dhTa7:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__freyi:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__uztU8:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.freeBox__aqgIu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__aqgIu {
    margin-bottom: 0px;
  }
}
.sectionHeader___2W6UO:global(.__wab_instance) {
  max-width: 100%;
}
.linkButton__cdbTb:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__psmb {
  animation: none;
}
.svg__xBh9N {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__lhwVu {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__x2Iwk {
  animation: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 40px;
  min-width: 0;
}
.cardArticleNoCover__yeVFp:global(.__wab_instance) {
  animation: none;
  grid-column-end: span 1;
}
.tagPill__sG1A:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__yAwnr {
  animation: none;
}
.linkCoinIcon__f6Tod:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__v4JsN:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__ye1OG:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardArticleNoCover__zwuo2:global(.__wab_instance) {
  animation: none;
  grid-column-end: span 1;
}
.text__rEeQd {
  animation: none;
}
.text__hPIbc {
  animation: none;
}
.tagPill__sZx9Z:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__iqkuI {
  animation: none;
}
.linkCoinIcon__sXuT4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__z0MLv:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__cike:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.cardArticleNoCover___57VEt:global(.__wab_instance) {
  animation: none;
  grid-column-end: span 1;
}
.text__oShm {
  animation: none;
}
.text__sjBi5 {
  animation: none;
}
.tagPill__d2TRs:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__zddY8 {
  animation: none;
}
.linkCoinIcon__idHol:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__m1SKc:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__u1BVg:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
