.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  position: relative;
  min-width: 0;
}
.freeBox__jHMhs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.text__tMjWj {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.freeBox__inmOx {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  min-width: 0;
}
.items {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 2px;
  min-width: 0;
}
.text__ikm01 {
  padding-right: 0px;
}
.text__xtSm {
  padding-bottom: 0px;
}
