.root {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  position: relative;
  background: var(--token-qAtNpqcFq1ZH);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.root:nth-child(even) {
  background: none;
}
.freeBox__e0Tpc {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 60px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__booAy {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  line-height: 1.2;
  min-width: 0;
}
.freeBox__zlJ1B {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
}
.slotTargetCoinName {
  font-weight: 500;
  color: #ffffff;
}
.freeBox__h5XRi {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
}
.freeBox__soG8X {
  animation: none;
  position: relative;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
}
.slotTargetCoinShorthand {
  font-size: 12px;
}
.freeBox__zSCi8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.text__tmZuz {
  animation: none;
  color: #ffffff;
}
.freeBox__ugGDb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.text__wbj2 {
  animation: none;
  color: var(--token-sxMiRhCxgPbQ);
}
.freeBox__t3FaG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__um1Hx {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__buo0A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.linkButton:global(.__wab_instance) {
  max-width: 100%;
}
