.root {
  opacity: 0.4;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.15s;
  white-space: pre;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.15s;
  padding: 8px 0px;
}
.root:hover {
  opacity: 1;
}
.root:hover .slotTargetTitle {
  color: #ffffff;
}
