.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  position: relative;
  min-width: 0;
}
.freeBox__sJa21 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.freeBox__wygRv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.freeBox___9BdKn {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__vcPUt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  min-height: 0;
}
.progressTrack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: calc(100% + 12px);
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token--fZ8TSfy8WP_);
  max-height: none;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 4px;
}
.progressBar {
  display: flex;
  flex-direction: column;
  width: 3px;
  height: 50%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-QL0xMMXWaeGp);
}
.freeBox___8EaK {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  min-width: 0;
}
.linkTableOfContents__sQykW:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___4ZtHy {
  animation: none;
}
.linkTableOfContents__tqv7U:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__xW3P {
  animation: none;
}
.linkTableOfContents__hZaYj:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__wMoai {
  animation: none;
}
.linkTableOfContents__wYbuE:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__lsn1L {
  animation: none;
}
.linkTableOfContents__qhtV:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__j3ZUm {
  animation: none;
}
.linkTableOfContentsLast:global(.__wab_instance) {
  position: relative;
}
