.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  min-width: 0;
}
.wrap {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 6px;
  min-width: 0;
  border-radius: 25px;
  padding: 16px;
}
.freeBox__rlQ0H {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  border-radius: 30px;
  padding: 10px;
}
.linkButton__slwX:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.svg__wbwwv {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___9OtdZ {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton__ifH8:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__yx8Ki {
  animation: none;
}
.svg__xRsJb {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__kUGb {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__dwDtG {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  border-radius: 30px;
  padding: 10px 20px 10px 16px;
}
.text {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.4;
  min-width: 0;
}
.freeBox__qRl6A {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.linkCoinIcon___2UCr0:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon___3I3Qk:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__ynLgk:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__hAj8:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon___9KeYk:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__iuPzt:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__wifyt:global(.__wab_instance) {
  animation: none;
  position: relative;
}
