.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  position: relative;
  text-align: center;
  min-width: 0;
  border-radius: 20px;
}
.freeBox__ma0Gf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__mexze {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
  padding: 30px 20px;
  border-right: 1px solid #ffffff0f;
}
@media (max-width: 511px) {
  .freeBox__mexze {
    width: 100%;
    border-right-style: none;
    row-gap: 0px;
    column-gap: 0px;
    min-width: 0;
    border-bottom: 1px solid #ffffff0f;
  }
}
.img {
  object-fit: contain;
  flex-grow: 0;
  max-width: 100%;
  height: 60px;
  flex-shrink: 0;
  margin: auto 10px;
}
.img > picture > img {
  object-fit: contain;
}
.freeBox__qrcIh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  padding: 10px 10px 10px 20px;
  border-top: 1px solid #ffffff0f;
}
@media (max-width: 511px) {
  .freeBox__qrcIh {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    column-gap: 0px;
  }
}
.freeBox__qWds {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.text___83WcR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  min-width: 0;
}
.text__i3ANv {
  color: var(--token-sxMiRhCxgPbQ);
  font-weight: 600;
  font-size: 18px;
}
.freeBox__gxS5Q {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 10px;
  width: 100%;
  min-width: 0;
}
.linkButton__lvPk3:global(.__wab_instance) {
  animation: none;
  min-width: 160px;
}
.svg__u8JCv {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___6GcSh {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__rfjQn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  white-space: pre;
  flex-wrap: wrap;
  column-gap: 3px;
  row-gap: 3px;
  font-size: 14px;
  align-content: flex-start;
}
@media (max-width: 511px) {
  .freeBox__rfjQn {
    justify-content: center;
    align-content: flex-start;
  }
}
.freeBox__p86La {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 8px;
  padding: 8px 14px;
  border: 1px solid #ffffff0f;
}
.svg__wTv0Q {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-sxMiRhCxgPbQ);
  height: 1em;
}
.text___9Fshl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zE3E0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 8px;
  padding: 8px 14px;
  border: 1px solid #ffffff0f;
}
.svg__ge9Lm {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QL0xMMXWaeGp);
  height: 1em;
}
.text__ujKl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___4O7NJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 8px;
  padding: 8px 14px;
  border: 1px solid #ffffff0f;
}
.svg__roc6 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text___8ZdE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zlFwc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  padding: 20px;
  border-top: 1px solid #ffffff0f;
}
@media (max-width: 511px) {
  .freeBox__zlFwc {
    border-right-style: none;
    text-align: center;
    border-bottom: 1px solid #ffffff0f;
  }
}
.linkButton__xmf2:global(.__wab_instance) {
  animation: none;
}
.svg__oMzg7 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__rmij7 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
