.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  min-width: 0;
}
.wrap {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 6px;
  min-width: 0;
  border-radius: 25px;
  padding: 16px;
}
@media (max-width: 1023px) {
  .wrap {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 6px;
    justify-content: center;
    align-content: center;
  }
}
@media (max-width: 511px) {
  .wrap {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
  }
}
.freeBox__rlQ0H {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  border-radius: 30px;
  padding: 10px;
}
.linkButton__oVc4A:global(.__wab_instance) {
  animation: none;
  position: relative;
  flex-grow: 1;
}
.svg__hXlf6 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__spKe7 {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton___64CbE:global(.__wab_instance) {
  animation: none;
  position: relative;
  flex-grow: 1;
}
.text__xgQWy {
  animation: none;
}
.svg__tK4Vs {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__ph99B {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__dwDtG {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  border-radius: 30px;
  padding: 8px 16px;
}
.text__cR80 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.4;
  min-width: 0;
}
.freeBox__mWBjb {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 4px;
}
.linkCoinIcon__azUnR:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__x9Z1X:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__yzTyU:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__gQWzR:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon___6CiL:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__vXbXi:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__tFjKx:global(.__wab_instance) {
  animation: none;
  position: relative;
}
