.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-PU2kSrpIWaun);
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.coinPriceMarquee:global(.__wab_instance) {
  position: relative;
}
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
.freeBox__uwDL {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 0px;
  row-gap: 20px;
  position: relative;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__uwDL {
    padding-top: 20px;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.freeBox__su1M {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #ffffff0f;
}
@media (max-width: 511px) {
  .freeBox__su1M {
    flex-direction: column;
    row-gap: 6px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    column-gap: 0px;
    display: none;
  }
}
.svg__xYsu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QL0xMMXWaeGp);
  height: 1em;
}
.text__bYrX {
  position: relative;
  font-size: 14px;
}
.freeBox___5EE1J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___5EE1J {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    column-gap: 0px;
  }
}
.freeBox__hAhg2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  flex-grow: 1;
  flex-basis: 60%;
  min-width: 0;
}
.text__zfd0H {
  color: var(--token-sxMiRhCxgPbQ);
}
.text__yBqNe {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 75px;
  letter-spacing: -3px;
  line-height: 0.9;
  max-width: 700px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__yBqNe {
    font-size: 55px;
  }
}
.span {
  color: #ffffff80;
}
.text___6ZUtg {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.freeBox__zyhl8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 40%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 511px) {
  .freeBox__zyhl8 {
    align-items: flex-end;
    justify-content: flex-end;
    flex-basis: auto;
    height: 160px;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    row-gap: 0px;
    display: none;
  }
}
.img__nnm7V {
  object-fit: contain;
  max-width: 100%;
  width: 50%;
  transform: rotate3d(0, 0, 1, 14deg);
  opacity: 0.4;
}
.img__nnm7V > picture > img {
  object-fit: contain;
}
@media (max-width: 511px) {
  .img__nnm7V {
    height: 80%;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__vDed5 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0;
  top: 0;
  background: linear-gradient(
      180deg,
      #0f101200 0%,
      var(--token-PU2kSrpIWaun) 91%
    )
    0% 0% / 100% 100% repeat;
  bottom: 0;
  right: 0;
  min-height: 0;
}
@media (max-width: 511px) {
  .freeBox__vDed5 {
    left: 0px;
    top: 0px;
  }
}
.freeBox__qWeFb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  min-width: 0;
  border-radius: 20px;
}
@media (max-width: 1023px) {
  .freeBox__qWeFb {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__roAk {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  min-width: 0;
  min-height: 0;
}
.heroCardLink__sQrQc:global(.__wab_instance) {
  position: relative;
}
.svg__va2ZQ {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.cornerTDivider___3FMoy:global(.__wab_instance) {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .cornerTDivider___3FMoy:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.heroCardLink___07JSb:global(.__wab_instance) {
  position: relative;
}
.svg__gyMsn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.cornerTDivider__tJa0M:global(.__wab_instance) {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .cornerTDivider__tJa0M:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.heroCardLink__llku:global(.__wab_instance) {
  position: relative;
}
.svg__qppq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.cornerTDivider__e9Fx0:global(.__wab_instance) {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .cornerTDivider__e9Fx0:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.heroCardLink__uBcEg:global(.__wab_instance) {
  position: relative;
}
.svg___0LuN0 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__wse2R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  background: url("/plasmic/cryptocasinos/images/dotPatternGraySvg.svg") top 50% left 0% / 8px auto repeat;
  column-gap: 6px;
  min-width: 0;
  border-radius: 25px;
  padding: 14px 20px;
}
@media (max-width: 1023px) {
  .freeBox__wse2R {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    align-items: stretch;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 511px) {
  .freeBox__wse2R {
    row-gap: 11px;
    column-gap: 0px;
    padding: 14px 10px;
  }
}
.freeBox__hQlk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 10px;
  padding: 6px;
}
@media (max-width: 511px) {
  .freeBox__hQlk {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    column-gap: 0px;
  }
}
.linkButton___3DaL:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1023px) {
  .linkButton___3DaL:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.linkButton__db89C:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1023px) {
  .linkButton__db89C:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__hmk3I {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--token-PU2kSrpIWaun);
  column-gap: 6px;
  border-radius: 20px;
  padding: 7px 22px 7px 19px;
}
.text__wkW16 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.4;
  min-width: 0;
}
.freeBox___1OOz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.linkCoinIcon__b4AdV:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__cksVl:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__qv5NH:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__iHvdr:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon___89YcN:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__vsrJ1:global(.__wab_instance) {
  position: relative;
}
.linkCoinIcon__rZctq:global(.__wab_instance) {
  position: relative;
}
.freeBox__ezV7R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #ffffff0f;
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 0;
  flex-shrink: 0;
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.freeBox__im7X0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__flQ7X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  row-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__flQ7X {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox__gwa5 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__gUSz0 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
}
.text__vLjsy {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.linkButton__rx2PR:global(.__wab_instance) {
  position: relative;
}
.cardsCasinos {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.cardCasinoList___16GSh:global(.__wab_instance) {
  position: relative;
}
.cardCasinoList__dbTnp:global(.__wab_instance) {
  position: relative;
}
.cardCasinoList__owWlM:global(.__wab_instance) {
  position: relative;
}
.freeBox__mdNnw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 20px;
  margin-bottom: 40px;
  min-width: 0;
  border-radius: 20px;
  padding: 20px 30px;
}
@media (max-width: 511px) {
  .freeBox__mdNnw {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    column-gap: 0px;
  }
}
.text__nluua {
  position: relative;
  font-size: 14px;
  opacity: 0.6;
}
.freeBox__da6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  white-space: pre;
  width: auto;
  column-gap: 6px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 11px 22px;
  border: 1px solid #ffffff0f;
}
.svg__uHgOf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-sxMiRhCxgPbQ);
  flex-shrink: 0;
  height: 1em;
}
.text__byZxI {
  position: relative;
  font-size: 15px;
}
.freeBox__skRui {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  row-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__skRui {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.freeBox__e0AI3 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__usQ {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
}
.text__kPqEo {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.linkButton__aNehe:global(.__wab_instance) {
  position: relative;
}
.freeBox___6UUYu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___6UUYu {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.cardBentoTopic__v7Ki8:global(.__wab_instance) {
  grid-column-end: span 3;
}
.svg__hx3Il {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-sxMiRhCxgPbQ);
}
.tagPill__zPnrL:global(.__wab_instance) {
  position: relative;
}
.tagPill__k9Btr:global(.__wab_instance) {
  position: relative;
}
.tagPill__gridU:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__srcSr:global(.__wab_instance) {
  grid-column-end: span 3;
}
.svg__z6EAp {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-p2QTq273_LQh);
}
.tagPill__kb0U:global(.__wab_instance) {
  position: relative;
}
.tagPill__couEz:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic___0JVp:global(.__wab_instance) {
  grid-column-end: span 2;
}
.svg__zqoCb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-6ezJMcDkCpjz);
}
.tagPill__uv4Ef:global(.__wab_instance) {
  position: relative;
}
.tagPill__gS6Mi:global(.__wab_instance) {
  position: relative;
}
.tagPill__rUQvs:global(.__wab_instance) {
  position: relative;
}
.tagPill___2DdG6:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__ezGS:global(.__wab_instance) {
  grid-column-end: span 2;
}
.svg__riu0 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-s9GqGn4DBJXG);
}
.tagPill__zQamo:global(.__wab_instance) {
  position: relative;
}
.tagPill__qMwaN:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__sz5Ib:global(.__wab_instance) {
  grid-column-end: span 2;
}
.svg__uLgbm {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-DV-hmmuE7DB3);
}
.tagPill__ngUl7:global(.__wab_instance) {
  position: relative;
}
.tagPill__koW39:global(.__wab_instance) {
  position: relative;
}
.tagPill__uwiNe:global(.__wab_instance) {
  position: relative;
}
.tagPill__ttAcx:global(.__wab_instance) {
  position: relative;
}
.tagPill__jtKg:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__nHnFo:global(.__wab_instance) {
  grid-column-end: span 3;
}
.svg__j5YGe {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-sxMiRhCxgPbQ);
}
.tagPill__uwKbK:global(.__wab_instance) {
  position: relative;
}
.tagPill__vffZt:global(.__wab_instance) {
  position: relative;
}
.tagPill__zhg2:global(.__wab_instance) {
  position: relative;
}
.cardBentoTopic__o8YrK:global(.__wab_instance) {
  grid-column-end: span 3;
}
.svg__cB77G {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: #ffc736;
}
.tagPill__dgJor:global(.__wab_instance) {
  position: relative;
}
.tagPill__cMddz:global(.__wab_instance) {
  position: relative;
}
.tagPill__lRmd:global(.__wab_instance) {
  position: relative;
}
.freeBox__jfhzS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  min-width: 0;
}
.freeBox__mkMmm {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__gOeZe {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
}
.text__gcvB {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.cardPriceChart:global(.__wab_instance) {
  margin-bottom: 40px;
}
.freeBox__mhLDy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__mhLDy {
    margin-bottom: 0px;
  }
}
.freeBox___8G0Oa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  row-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___8G0Oa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox__npRit {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__jcBbT {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
}
.text__fxsEn {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.linkButton__xSxYh:global(.__wab_instance) {
  position: relative;
}
.freeBox___1TBG {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___1TBG {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__fy79P {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  grid-column-end: span 2;
  grid-row-end: span 2;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 511px) {
  .freeBox__fy79P {
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
}
.freeBox__kxbBi {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.freeBox__u4Em {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  width: 100%;
  padding-bottom: 20px;
  min-width: 0;
  border-bottom: 1px solid #ffffff0f;
}
.freeBox__rpryz {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--token-QL0xMMXWaeGp);
  flex-shrink: 0;
  border-radius: 100px;
  padding: 12px;
}
.svg__rHDuS {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ybQbi {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.text__hsidx {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-top: 10px;
}
.text__k162K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  margin-bottom: 20px;
  font-size: 14px;
  min-width: 0;
}
.freeBox__fIoWb {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  margin-bottom: 10px;
  background: #0f101240;
  min-width: 0;
  border-radius: 10px;
  padding: 20px;
}
.freeBox__rkLim {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__emq5N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
}
.svg__mcwCb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QL0xMMXWaeGp);
  height: 1em;
}
.text__y5Piu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.text__w7Cho {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.freeBox__shAir {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__n3N97 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
}
.svg___9DjZx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QL0xMMXWaeGp);
  height: 1em;
}
.text__asOb2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.text__yqMqs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.freeBox__uf8Nd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__crq67 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
}
.svg___2TlCe {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QL0xMMXWaeGp);
  height: 1em;
}
.text___9Ketc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.text__tXhfZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.freeBox__obox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__mTt9B {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
}
.svg__lgy1O {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QL0xMMXWaeGp);
  height: 1em;
}
.text__l0Vcu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.text__n1VUx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.linkButton__npCo5:global(.__wab_instance) {
  animation: none;
  position: relative;
  min-width: 160px;
}
@media (max-width: 511px) {
  .linkButton__npCo5:global(.__wab_instance) {
    animation: none;
  }
}
.text__e1Lu {
  animation: none;
}
@media (max-width: 511px) {
  .text__e1Lu {
    animation: none;
  }
}
.freeBox___7081E {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
.freeBox__xyCuI {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.text__iugxd {
  animation: none;
  position: relative;
  font-size: 14px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 100px;
  padding: 2px 10px;
  border: 1px solid #ffffff1a;
}
.freeBox__uoXZk {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 2px;
  padding-top: 20px;
  min-width: 0;
}
.img__mU22Q {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__mU22Q > picture > img {
  object-fit: cover;
}
.img__ucY8T {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__ucY8T > picture > img {
  object-fit: cover;
}
.text__kzpMw {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-top: 10px;
}
.text__tqznB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.freeBox__gFdMm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
.freeBox__s9Af {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.text__vH7Fa {
  animation: none;
  position: relative;
  font-size: 14px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 100px;
  padding: 2px 10px;
  border: 1px solid #ffffff1a;
}
.freeBox__hWtyx {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 2px;
  padding-top: 20px;
  min-width: 0;
}
.img___2G2WZ {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img___2G2WZ > picture > img {
  object-fit: cover;
}
.img__iPg4V {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__iPg4V > picture > img {
  object-fit: cover;
}
.img__tD7Ol {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__tD7Ol > picture > img {
  object-fit: cover;
}
.text___7YAkd {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-top: 10px;
}
.text__eYvNp {
  position: relative;
  font-size: 14px;
  opacity: 0.6;
  max-width: 100%;
  height: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__ytNwg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__ytNwg {
    margin-bottom: 0px;
  }
}
.freeBox___0Mc7R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  row-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox___0Mc7R {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox__gWmA1 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__qj7Dw {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
}
.text__djgq {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.linkButton__oQsT8:global(.__wab_instance) {
  position: relative;
}
.freeBox__uuOeC {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__uuOeC {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 20px;
  }
}
.newsGridItem___3DzcV:global(.__wab_instance) {
  position: relative;
}
.tagPill__uYwZp:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__haCl {
  animation: none;
}
.tagPill__kkfEk:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__j0JUr {
  animation: none;
}
.img__faxyD {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__faxyD > picture > img {
  object-fit: cover;
}
.img__bzMgb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__bzMgb > picture > img {
  object-fit: cover;
}
.newsGridItem__mzQhq:global(.__wab_instance) {
  position: relative;
}
.tagPill__yxW4L:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__zufx8 {
  animation: none;
}
.tagPill__pM5Eq:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__fJSwg {
  animation: none;
}
.tagPill__a2T39:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__iiq9 {
  animation: none;
}
.img__i9DR {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__i9DR > picture > img {
  object-fit: cover;
}
.img___02HE3 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img___02HE3 > picture > img {
  object-fit: cover;
}
.img__naXr5 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__naXr5 > picture > img {
  object-fit: cover;
}
.freeBox___25Gl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox___25Gl {
    margin-bottom: 0px;
  }
}
.freeBox__ehzhW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  row-gap: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__ehzhW {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox__xVLyb {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
.text___0Trx0 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
}
.text___6Bgo2 {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  opacity: 0.6;
}
.linkButton__pGuXm:global(.__wab_instance) {
  position: relative;
}
.freeBox___1OovW {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox___1OovW {
    margin-bottom: 0px;
  }
}
@media (max-width: 511px) {
  .freeBox___1OovW {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox___7FlSy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
.freeBox__ybB8 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.text___7W7Dl {
  animation: none;
  position: relative;
  font-size: 14px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 100px;
  padding: 2px 10px;
  border: 1px solid #ffffff1a;
}
.text__ylcAi {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-top: 10px;
}
.text___6OtZy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.freeBox__mfwc7 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 2px;
  padding-top: 20px;
  min-width: 0;
}
.img__qbMXq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__qbMXq > picture > img {
  object-fit: cover;
}
.img___9UNtg {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img___9UNtg > picture > img {
  object-fit: cover;
}
.img__eNxJs {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__eNxJs > picture > img {
  object-fit: cover;
}
.freeBox__xmBwK {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
.freeBox__kfUMv {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.text__hRdhk {
  animation: none;
  position: relative;
  font-size: 14px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 100px;
  padding: 2px 10px;
  border: 1px solid #ffffff1a;
}
.text___5KiAc {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-top: 10px;
}
.text__paWik {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.freeBox__ilyl6 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 2px;
  padding-top: 20px;
  min-width: 0;
}
.img__y8TJ2 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__y8TJ2 > picture > img {
  object-fit: cover;
}
.img__f8V18 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__f8V18 > picture > img {
  object-fit: cover;
}
.freeBox__h4IdC {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  grid-column-end: span 1;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
.freeBox__untg {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.text__vj7Lf {
  animation: none;
  position: relative;
  font-size: 14px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 100px;
  padding: 2px 10px;
  border: 1px solid #ffffff1a;
}
.text__ddcvA {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-top: 10px;
}
.text__oUcDc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.freeBox__jxOeS {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 2px;
  padding-top: 20px;
  min-width: 0;
}
.img___9GdPj {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img___9GdPj > picture > img {
  object-fit: cover;
}
.img__hncmP {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__hncmP > picture > img {
  object-fit: cover;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 350px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 100px;
  z-index: 1;
  row-gap: 30px;
  padding-bottom: 80px;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .sidebar {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__dbSj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__kPary {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.text__pKjnM {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.freeBox__z58KV {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  min-width: 0;
}
.linkSidebar__rxoYu:global(.__wab_instance) {
  position: relative;
}
.svg__eYws {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.linkSidebar__gbtVz:global(.__wab_instance) {
  position: relative;
}
.svg__nYgHq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.linkSidebar___3VWCm:global(.__wab_instance) {
  position: relative;
}
.svg__xdXt8 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.linkSidebar__mtVcx:global(.__wab_instance) {
  position: relative;
}
.svg__aStpF {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.linkSidebar__oId6C:global(.__wab_instance) {
  position: relative;
}
.svg__kqtXw {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.linkSidebar__z9Sc5:global(.__wab_instance) {
  position: relative;
}
.svg__d0Aw1 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__k2Mxr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__oEciv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.text__ymzCd {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.freeBox__gRzp8 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  min-width: 0;
}
.freeBox___0QPr7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.text__xv47J {
  padding-right: 0px;
}
.text__jgoEq {
  color: var(--token-QL0xMMXWaeGp);
}
.text__k7LRx {
  color: var(--token-QL0xMMXWaeGp);
}
.text__ge1BV {
  padding-bottom: 0px;
}
.text__qjqum {
  color: var(--token-QL0xMMXWaeGp);
}
.sidebarRecentArticles:global(.__wab_instance) {
  position: relative;
}
