.root {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 350px;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  position: relative;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 511px) {
  .root {
    animation: none;
  }
}
.freeBox__snhR6 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.freeBox__yOzXt {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  width: 100%;
  padding-bottom: 10px;
  min-width: 0;
  border-bottom: 1px solid #ffffff0f;
}
.freeBox__ogUsS {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--token-QL0xMMXWaeGp);
  flex-shrink: 0;
  border-radius: 100px;
  padding: 8px;
}
.svg {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__lI2FP {
  animation: none;
  position: relative;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.text__nBuFw {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  margin-bottom: 10px;
  font-size: 14px;
  min-width: 0;
}
.freeBox__xz3QP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.freeBox__jFzkA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__pvyxC {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text___2T5Tp {
  position: relative;
  font-size: 14px;
}
.freeBox___08Fjb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__u61F2 {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text__rXzwc {
  position: relative;
  font-size: 14px;
}
.freeBox__zvM2R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text__gNgu4 {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.freeBox__zavCg {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  column-gap: 2px;
  padding-right: 8px;
}
.img__n8SIh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__n8SIh > picture > img {
  object-fit: cover;
}
.img__aPSfe {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__aPSfe > picture > img {
  object-fit: cover;
}
.img__ihbbf {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-right: -8px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__ihbbf > picture > img {
  object-fit: cover;
}
.linkButton:global(.__wab_instance) {
  animation: none;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (max-width: 511px) {
  .linkButton:global(.__wab_instance) {
    animation: none;
  }
}
.text__kn5Sr {
  animation: none;
}
@media (max-width: 511px) {
  .text__kn5Sr {
    animation: none;
  }
}
