.root {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 350px;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  position: relative;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 1023px) {
  .root {
    max-width: none;
  }
}
@media (max-width: 511px) {
  .root {
    animation: none;
  }
}
.freeBox__dhvTy {
  animation: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.freeBox__jf1If {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  width: 100%;
  padding-bottom: 10px;
  min-width: 0;
}
.text__yLn1 {
  animation: none;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.freeBox__sF4J2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.freeBox__o3Bmp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__do4Fu {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text__x25Ez {
  position: relative;
  font-size: 14px;
}
.freeBox__tGyLl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__oq6Lu {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text__tvDd0 {
  position: relative;
  font-size: 14px;
}
.freeBox___0TuJc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__aorlf {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text__dkXNo {
  position: relative;
  font-size: 14px;
}
.freeBox__mznud {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__meWe9 {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text__a92Dg {
  position: relative;
  font-size: 14px;
}
.freeBox__xTvxw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__zzEz {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text___1YPyV {
  position: relative;
  font-size: 14px;
}
.freeBox__idQ5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__hyHoi {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.freeBox___1Xeqj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.text___0TfYc {
  font-size: 14px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  opacity: 0.5;
  height: 1em;
}
.freeBox__ol7P {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__khK8S {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text__sItD {
  position: relative;
  font-size: 14px;
}
.freeBox__uU2U {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  row-gap: 10px;
}
.text__hJvbs {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.freeBox___0Kpb5 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 4px;
  padding-right: 8px;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 4px;
  min-width: 0;
}
.img__r7KN {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__r7KN > picture > img {
  object-fit: cover;
}
.img__xTsZn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__xTsZn > picture > img {
  object-fit: cover;
}
.img__fYRn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__fYRn > picture > img {
  object-fit: cover;
}
.img___3GLdn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img___3GLdn > picture > img {
  object-fit: cover;
}
.img__mApRm {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__mApRm > picture > img {
  object-fit: cover;
}
.img__dTq3X {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__dTq3X > picture > img {
  object-fit: cover;
}
.img__vvicy {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 2px solid var(--token-PU2kSrpIWaun);
}
.img__vvicy > picture > img {
  object-fit: cover;
}
