.root {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  flex-grow: 0;
  transition-property: box-shadow, background;
  transition-duration: 0.3s, 0.3s;
  row-gap: 20px;
  position: relative;
  min-width: 0;
  -webkit-transition-property: box-shadow, background;
  -webkit-transition-duration: 0.3s, 0.3s;
  border-radius: 20px;
  padding: 20px;
}
.freeBox__pUrPc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.freeBox__tuElg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 100px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__s3IvH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  line-height: 1.2;
  min-width: 0;
}
.freeBox__rkPpW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
}
.slotTargetCoinName {
  font-weight: 500;
  color: #ffffff;
}
.text__vMfSq {
  color: #ffffff;
  font-weight: 500;
}
.freeBox__v3Na7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
}
.freeBox__tOkmc {
  position: relative;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
}
.text__vD9B {
  position: relative;
  color: var(--token-sxMiRhCxgPbQ);
}
.freeBox___5OcN0 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-PU2kSrpIWaun);
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
}
.freeBox__jp9IQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.text__thfu7 {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.6;
}
.text__rDsm0 {
  position: relative;
  font-size: 14px;
}
.freeBox__s8It {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.text___3YoYt {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.6;
}
.text__xS3Ka {
  position: relative;
  font-size: 14px;
}
.freeBox__offQf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.text___3YvGo {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.6;
}
.text__om1Ei {
  position: relative;
  font-size: 14px;
}
.freeBox__qioc3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.text__u77L {
  position: relative;
  font-size: 14px;
}
.linkButton__uce5:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text___9Ndkx {
  animation: none;
}
.svg__kew1X {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__ubKrj {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
