.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: var(--token-PU2kSrpIWaun);
  row-gap: 20px;
  min-width: 0;
  border-top: 1px solid #ffffff0f;
}
.freeBox__z8Jn7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 80px;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  padding: 80px 10px 100px;
}
@media (max-width: 511px) {
  .freeBox__z8Jn7 {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.freeBox__ie4C1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 40px;
  flex-shrink: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 180px;
}
.img > picture > img {
  object-fit: cover;
}
.text__sFqgt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.8;
  margin-bottom: 60px;
  min-width: 0;
}
.freeBox__o5Dcm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  flex-grow: 1;
  column-gap: 40px;
  flex-wrap: wrap;
  row-gap: 60px;
}
@media (max-width: 511px) {
  .freeBox__o5Dcm {
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
  }
}
.freeBox__aqOuc {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 10%;
  flex-grow: 1;
  max-width: 240px;
  row-gap: 0px;
}
.text__iqiV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 10px;
  min-width: 0;
}
.freeBox__ltRji {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 10%;
  flex-grow: 1;
  max-width: 240px;
  row-gap: 0px;
}
.text__v85Ex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 10px;
  min-width: 0;
}
.freeBox__qAnJ {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 10%;
  flex-grow: 1;
  max-width: 240px;
  row-gap: 0px;
}
.text__raQu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 10px;
  min-width: 0;
}
.actionsMain:global(.__wab_instance) {
  max-width: var(--token-eI5HWtMjxYZN);
}
.linkButton__cu58C:global(.__wab_instance) {
  animation: none;
  position: relative;
  flex-grow: 1;
}
.svg__cLank {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__rds2Z {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.linkButton___4C0J:global(.__wab_instance) {
  animation: none;
  position: relative;
  flex-grow: 1;
}
.text__hVgS {
  animation: none;
}
.svg__x96EW {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__qCj0N {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text__aKi0A {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.4;
  min-width: 0;
}
.freeBox__h7KK {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 4px;
}
.linkCoinIcon__bhO4:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__ypc2J:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__yv7KN:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__wMdy1:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__ahXT:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon__iJi1R:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.linkCoinIcon___7PYll:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.freeBox__bp2L4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 20px 10px;
  border-top: 1px solid #ffffff0f;
}
@media (max-width: 1023px) {
  .freeBox__bp2L4 {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 10px;
  }
}
.freeBox___5DBlE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
}
@media (max-width: 1023px) {
  .freeBox___5DBlE {
    width: 100%;
    min-width: 0;
  }
}
.text___6UQOs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  color: #383b3c;
  min-width: 0;
}
