.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-PU2kSrpIWaun);
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  column-gap: 40px;
  padding-top: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .hero {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: stretch;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox__wmQxc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 0px;
  row-gap: 20px;
  position: relative;
  min-width: 0;
}
@media (max-width: 511px) {
  .freeBox__wmQxc {
    padding-top: 20px;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.text__x1KgJ {
  position: relative;
  color: var(--token-QL0xMMXWaeGp);
  font-size: 12px;
  text-transform: uppercase;
}
.text__uQis3 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 52px;
  letter-spacing: -3px;
  line-height: 0.9;
  font-weight: 700;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
@media (max-width: 511px) {
  .text__uQis3 {
    font-size: 55px;
  }
}
.text__uQyrg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  line-height: 2;
  min-width: 0;
}
.freeBox__zqjef {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  background: url("/plasmic/cryptocasinos/images/dotPatternGraySvg.svg") top 50% left 0% / 8px auto repeat;
  column-gap: 6px;
  min-width: 0;
  border-radius: 25px;
  padding: 14px 20px;
}
@media (max-width: 1023px) {
  .freeBox__zqjef {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    align-items: stretch;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 511px) {
  .freeBox__zqjef {
    row-gap: 11px;
    column-gap: 0px;
    padding: 14px 10px;
  }
}
.freeBox__bamF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  background: var(--token-PU2kSrpIWaun);
  border-radius: 10px;
  padding: 16px;
}
@media (max-width: 511px) {
  .freeBox__bamF {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    column-gap: 0px;
  }
}
.slotTargetUpdatedAt {
  font-size: 11px;
  text-transform: uppercase;
}
.slotTargetUpdatedAt > *,
.slotTargetUpdatedAt > :global(.__wab_slot) > *,
.slotTargetUpdatedAt > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetUpdatedAt
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetUpdatedAt > picture > img,
.slotTargetUpdatedAt > :global(.__wab_slot) > picture > img,
.slotTargetUpdatedAt
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetUpdatedAt
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  animation: none;
  opacity: 0.7;
}
.text__f5XTy {
  animation: none;
}
.freeBox___2Krd3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--token-PU2kSrpIWaun);
  column-gap: 10px;
  border-radius: 20px;
  padding: 7px 22px 7px 19px;
}
.text__xcIt {
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.7;
}
.link__i4Tk {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  width: 100%;
  white-space: pre;
  color: #cfcfcf;
  min-width: 0;
}
.root .link__i4Tk:hover {
  color: #ffffff;
}
.img__nfd9Z {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 60px;
}
.img__nfd9Z > picture > img {
  object-fit: cover;
}
.freeBox__hhf9K {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.4;
  min-width: 0;
}
.freeBox__usk3N {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetAuthorName {
  font-size: 14px;
}
.slotTargetAuthorName > *,
.slotTargetAuthorName > :global(.__wab_slot) > *,
.slotTargetAuthorName > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetAuthorName
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetAuthorName > picture > img,
.slotTargetAuthorName > :global(.__wab_slot) > picture > img,
.slotTargetAuthorName
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetAuthorName
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  animation: none;
}
.text__fUOb {
  animation: none;
}
.linkCoinIcon__yWzWf:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__kDSfc:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__yc9RS:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.divider {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #ffffff0f;
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 0;
  flex-shrink: 0;
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.leftContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 20px;
  padding-bottom: 40px;
  min-width: 0;
}
@media (max-width: 511px) {
  .leftContent {
    padding-bottom: 0px;
  }
}
.freeBox__kVre8 {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  position: relative;
  min-width: 0;
}
.freeBox__uguWp {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #000000;
  min-width: 0;
  border-radius: 20px;
  border: 1px solid #ffffff0f;
}
.img___0VD {
  animation: none;
  object-fit: cover;
  max-width: 100%;
}
.img___0VD > picture > img {
  object-fit: cover;
}
.freeBox__mKDgH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 10px;
  margin-bottom: 30px;
}
.freeBox__w9FHw {
  animation: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 10px;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 511px) {
  .freeBox__w9FHw {
    animation: none;
  }
}
.freeBox__hEebr {
  animation: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.text__dsVcu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.h2__pcNow {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  min-width: 0;
}
.text__v5FUk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #cfcfcf99;
  line-height: 2;
  min-width: 0;
}
.link__qlMo {
  color: var(--token-sxMiRhCxgPbQ);
  background: #35b7aa33;
  border-radius: 6px;
  padding: 0px 6px;
}
.span {
  color: #cfcfcf;
}
.freeBox__cp6XM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 30px;
  column-gap: 10px;
}
@media (max-width: 511px) {
  .freeBox__cp6XM {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.h2__rm2J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  min-width: 0;
}
.text__mQHe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #cfcfcf99;
  line-height: 2;
  min-width: 0;
}
.tableSample:global(.__wab_instance) {
  position: relative;
}
.text__jahKz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #cfcfcf99;
  min-width: 0;
}
.ul {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  line-height: 2;
}
.freeBox__uOf46 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 511px) {
  .freeBox__uOf46 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.cardProCon__vt6FB:global(.__wab_instance) {
  max-width: 100%;
}
.proConRow__kEcvs:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.proConRow__nxx0:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.proConRow__vkxpQ:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.proConRow__xfRkY:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.cardProCon__h2Dx5:global(.__wab_instance) {
  max-width: 100%;
}
.proConRow__uuK9U:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.proConRow__pgWFm:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.proConRow__qVPj:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.proConRow__a5VxI:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.h2___944VW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  min-width: 0;
}
.text___63Dk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #cfcfcf99;
  line-height: 2;
  min-width: 0;
}
.link__xlBq1 {
  color: var(--token-sxMiRhCxgPbQ);
  background: #35b7aa33;
  border-radius: 6px;
  padding: 0px 6px;
}
.link__dfRkr {
  color: var(--token-DV-hmmuE7DB3);
  padding-left: 6px;
  padding-right: 6px;
  background: #ff6dad33;
  border-radius: 6px;
}
.freeBox__gKrn7 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 4px;
  min-width: 0;
}
.freeBox__ktZd4 {
  animation: none;
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 0;
  padding: 8px;
}
.text__jla2I {
  animation: none;
  position: relative;
  opacity: 0.6;
}
.text___2N7Cu {
  animation: none;
  position: relative;
  opacity: 0.6;
}
.text__fuHuv {
  animation: none;
  position: relative;
  opacity: 0.6;
}
.text__pw23B {
  animation: none;
  position: relative;
  opacity: 0.6;
}
.tableRowCoin__gWd:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___4O3V9 {
  animation: none;
}
.svg__aW1Dr {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--token-p2QTq273_LQh);
  height: 1em;
}
.tableRowCoin___9Nmq:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__oVxCy {
  animation: none;
}
.text___5SCne {
  animation: none;
  padding-bottom: 0px;
}
.svg__ycoiw {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--token-sxMiRhCxgPbQ);
  height: 1em;
}
.tableRowCoin__x8Byc:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__hvABn {
  animation: none;
}
.text___6UPzu {
  animation: none;
}
.svg__efTrw {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--token-sxMiRhCxgPbQ);
  height: 1em;
}
.tableRowCoin__diqhg:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__mqXnn {
  animation: none;
}
.text___45TBq {
  animation: none;
}
.text__ch7Vt {
  animation: none;
}
.svg__bbWxr {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--token-p2QTq273_LQh);
  height: 1em;
}
.tableRowCoin__qxKXf:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__bUeUt {
  animation: none;
}
.text__sxRad {
  animation: none;
}
.svg__xz65 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--token-sxMiRhCxgPbQ);
  height: 1em;
}
.tableRowCoin__kU4JZ:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__fIIt {
  animation: none;
}
.text__sHfB2 {
  animation: none;
}
.svg___3T3XN {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--token-sxMiRhCxgPbQ);
  height: 1em;
}
.tableRowCoin__seUM:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__znJ99 {
  animation: none;
}
.text__sOd6W {
  animation: none;
}
.svg__cQohS {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--token-sxMiRhCxgPbQ);
  height: 1em;
}
.text__xxeQx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #cfcfcf99;
  min-width: 0;
}
.ol {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  line-height: 2;
}
.freeBox__rgd9W {
  animation: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  column-gap: 40px;
  min-width: 0;
  border-radius: 20px;
  padding: 40px;
}
@media (max-width: 511px) {
  .freeBox__rgd9W {
    animation: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 40px;
    column-gap: 0px;
    padding: 20px;
  }
}
.freeBox__kllMk {
  animation: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.freeBox__ja3H7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  padding-right: 40px;
  min-width: 0;
  border-right: 1px solid #ffffff0f;
}
@media (max-width: 511px) {
  .freeBox__ja3H7 {
    border-right-style: none;
  }
}
.text__twd9Z {
  position: relative;
  color: var(--token-QL0xMMXWaeGp);
  font-size: 12px;
  text-transform: uppercase;
}
.text__tWym {
  animation: none;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-top: 10px;
}
.text__o1Dxo {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 14px;
  min-width: 0;
}
.linkButton__eWtR:global(.__wab_instance) {
  animation: none;
  position: relative;
}
@media (max-width: 511px) {
  .linkButton__eWtR:global(.__wab_instance) {
    animation: none;
  }
}
.text__u6Tz3 {
  animation: none;
}
@media (max-width: 511px) {
  .text__u6Tz3 {
    animation: none;
  }
}
.svg__n7N8N {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___4ZyL {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.richTextImage:global(.__wab_instance) {
  max-width: 100%;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 23px;
  font-weight: 500;
  min-width: 0;
}
.text__ycpwf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #cfcfcf99;
  line-height: 2;
  margin-bottom: 30px;
  min-width: 0;
}
.freeBox__s7EyN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 10px;
  margin-bottom: 30px;
}
@media (max-width: 511px) {
  .freeBox__s7EyN {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.freeBox__abiJh {
  animation: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 60px;
  border-radius: 20px;
  padding: 40px;
}
@media (max-width: 511px) {
  .freeBox__abiJh {
    animation: none;
  }
}
.freeBox___70A8K {
  animation: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.text__lhFyv {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 20px;
  min-width: 0;
}
.text__dSibE {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.3;
}
.freeBox__zkWx3 {
  animation: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  box-shadow:
    inset 0px 0px 0px 1px #ffffff1a,
    0px 0px 0px 2px #000000;
  row-gap: 60px;
  border-radius: 20px;
  padding: 40px;
}
@media (max-width: 511px) {
  .freeBox__zkWx3 {
    animation: none;
  }
}
.freeBox__y2JJv {
  animation: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 0px;
  background: url("/plasmic/cryptocasinos/images/image.webp") top 50% left 50% / 100px auto repeat;
  mix-blend-mode: multiply;
  opacity: 0.3;
  pointer-events: none;
  min-width: 0;
  min-height: 0;
}
.text__vkbwT {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  font-size: 20px;
  min-width: 0;
}
.text__dDjK7 {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.3;
}
.h2__enYub {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  min-width: 0;
}
.text__jthba {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #cfcfcf99;
  line-height: 2;
  margin-bottom: 30px;
  min-width: 0;
}
.cardCasinoList:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 40px;
}
.linkCoinIcon__j5Zz:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___5KKzf:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__b4KQz:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__hz8Hu:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__qfWk:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.sectionHeader:global(.__wab_instance) {
  max-width: 100%;
}
.linkButton:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__izJb1 {
  animation: none;
}
.svg___8PsL {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg___9JdHm {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__vZu3B {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__vZu3B {
    animation: none;
    margin-bottom: 0px;
  }
}
@media (max-width: 511px) {
  .freeBox__vZu3B {
    animation: none;
  }
}
.freeBox__rpOal {
  animation: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox__rpOal {
    animation: none;
  }
}
@media (max-width: 511px) {
  .freeBox__rpOal {
    animation: none;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 20px;
  }
}
.newsGridItem___7Qqqy:global(.__wab_instance) {
  animation: none;
  position: relative;
}
@media (max-width: 1023px) {
  .newsGridItem___7Qqqy:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 511px) {
  .newsGridItem___7Qqqy:global(.__wab_instance) {
    animation: none;
  }
}
.tagPill__dbJ6R:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___5U82K {
  animation: none;
}
.tagPill___4Jml:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__yYvyj {
  animation: none;
}
.linkCoinIcon__yrqKm:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___6ZnnR:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__bkhfh:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.newsGridItem__felWh:global(.__wab_instance) {
  animation: none;
  position: relative;
}
@media (max-width: 1023px) {
  .newsGridItem__felWh:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 511px) {
  .newsGridItem__felWh:global(.__wab_instance) {
    animation: none;
  }
}
.text___6Qob {
  animation: none;
}
.tagPill__coZ4Y:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__ozMYy {
  animation: none;
}
.tagPill__zGEiC:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__xTqV3 {
  animation: none;
}
.tagPill___3IhR4:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text___6B2ZW {
  animation: none;
}
.text___3QU8W {
  animation: none;
}
.linkCoinIcon__zLu1U:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__sGbWz:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__t2LjG:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 30px;
  padding-bottom: 80px;
  flex-shrink: 0;
  min-height: 0;
}
@media (max-width: 1023px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    min-width: 0;
    display: none;
  }
}
.sidebarRecentArticles:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.sticky {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: 0px;
  top: 100px;
  z-index: 1;
  row-gap: 30px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .sticky {
    position: relative;
    left: auto;
    top: auto;
  }
}
.linkTableOfContents__aMoAj:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__bUjhW {
  animation: none;
}
.linkTableOfContents__tW5Oz:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__hqfiB {
  animation: none;
}
.linkTableOfContents__mkoIz:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__c5SKw {
  animation: none;
}
.linkTableOfContents__hpVvv:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.text__rOwKk {
  animation: none;
}
