.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #cfcfcf;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.15s;
  font-size: 15px;
  height: 70px;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.15s;
  border-bottom: 1px solid #ff5a3600;
}
.root:hover {
  color: #ffffff;
  border-bottom-color: var(--token-QL0xMMXWaeGp);
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
