.root {
  animation: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  width: 100%;
  position: relative;
  column-gap: 10px;
  color: #cfcfcf;
  cursor: pointer;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
.root:hover {
  color: #cfcfcf;
  background: var(--token-GKj3RTmB9JGm);
}
.img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  transition-property: transform;
  transition-duration: 0.15s;
  flex-shrink: 0;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.15s;
  border-radius: 60px;
}
.img > picture > img {
  object-fit: cover;
}
.root:hover .img {
  transform: rotate3d(0, 0, 1, -30deg);
}
.freeBox__ki15B {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  padding-top: 2px;
  min-width: 0;
}
.freeBox__aGAm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
}
.slotTargetTitle {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1;
}
.slotTargetTitle > *,
.slotTargetTitle > :global(.__wab_slot) > *,
.slotTargetTitle > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetTitle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetTitle > picture > img,
.slotTargetTitle > :global(.__wab_slot) > picture > img,
.slotTargetTitle > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetTitle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  animation: none;
}
.text__rgWwa {
  animation: none;
}
.slotTargetShorthandle {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1;
}
.slotTargetShorthandle > *,
.slotTargetShorthandle > :global(.__wab_slot) > *,
.slotTargetShorthandle > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetShorthandle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetShorthandle > picture > img,
.slotTargetShorthandle > :global(.__wab_slot) > picture > img,
.slotTargetShorthandle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetShorthandle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  animation: none;
  opacity: 0.5;
}
.text___1GzPg {
  animation: none;
}
.freeBox__xyxVv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.slotTargetDescription {
  font-size: 12px;
}
.slotTargetDescription > *,
.slotTargetDescription > :global(.__wab_slot) > *,
.slotTargetDescription > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetDescription
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetDescription > picture > img,
.slotTargetDescription > :global(.__wab_slot) > picture > img,
.slotTargetDescription
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetDescription
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  animation: none;
  opacity: 0.6;
}
.text__shYsp {
  animation: none;
}
