.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #0f1012cc;
  min-width: 0;
  border-bottom: 1px solid #ffffff0f;
}
.freeBox__wdAJb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: var(--token-eI5HWtMjxYZN);
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
.freeBox__uruUf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
@media (max-width: 1023px) {
  .freeBox__uruUf {
    display: none;
  }
}
.linkNav__n8X9Y:global(.__wab_instance) {
  position: relative;
}
.linkNav__miIq:global(.__wab_instance) {
  position: relative;
}
.linkNav__ks2Xj:global(.__wab_instance) {
  position: relative;
}
.linkNav__pqzxn:global(.__wab_instance) {
  position: relative;
}
.buttonSearch:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton:global(.__wab_instance) {
  max-width: 100%;
}
.track {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 2px;
  min-width: 0;
  flex-shrink: 0;
}
.trackshowProgress {
  display: flex;
}
.progress {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-QL0xMMXWaeGp);
  min-height: 0;
}
