.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  position: relative;
  font-size: 12px;
}
.text___2OWIi {
  position: relative;
}
.text__x2H1X {
  position: relative;
  opacity: 0.5;
}
.text__bwnR {
  position: relative;
  color: var(--token-sxMiRhCxgPbQ);
}
