.root {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 350px;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-LKg2LChLUpjW);
  overflow: hidden;
  row-gap: 10px;
  position: relative;
  min-width: 0;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 511px) {
  .root {
    animation: none;
  }
}
.freeBox__yOzXt {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  width: 100%;
  padding-bottom: 10px;
  min-width: 0;
  border-bottom: 1px solid #ffffff0f;
}
.freeBox__ogUsS {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--token-QL0xMMXWaeGp);
  flex-shrink: 0;
  border-radius: 100px;
  padding: 8px;
}
.svg {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__lI2FP {
  animation: none;
  position: relative;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.text__nBuFw {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.6;
  margin-bottom: 10px;
  font-size: 14px;
  min-width: 0;
}
.freeBox__xz3QP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
.freeBox__jFzkA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__pvyxC {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text___2T5Tp {
  position: relative;
  font-size: 14px;
}
.freeBox__rb7PE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__xi9Vp {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text__zHbJz {
  position: relative;
  font-size: 14px;
}
.freeBox__weJeq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__idpTi {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.text___6BOr0 {
  position: relative;
  font-size: 14px;
}
.freeBox___08Fjb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 10px;
  border-bottom: 1px solid #ffffff0f;
}
.text__u61F2 {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 2px;
}
.freeBox__iuERx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  column-gap: 2px;
  flex-wrap: wrap;
  row-gap: 2px;
  align-content: center;
}
.tagPill__bAbxD:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.tagPill__zbZ0E:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.tagPill__kogL3:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.freeBox__zvM2R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 10px;
}
.text__gNgu4 {
  position: relative;
  font-size: 14px;
  opacity: 0.5;
}
.freeBox__g1Tkk {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2px;
  padding-right: 10px;
}
.linkCoinIcon___6Nmmy:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon__uRvwj:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkCoinIcon___5I1HG:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.linkButton:global(.__wab_instance) {
  animation: none;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (max-width: 511px) {
  .linkButton:global(.__wab_instance) {
    animation: none;
  }
}
.text__kn5Sr {
  animation: none;
}
@media (max-width: 511px) {
  .text__kn5Sr {
    animation: none;
  }
}
.svg__mnfZu {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__cyeRr {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
