.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--token-QL0xMMXWaeGp);
  color: #ffffff;
  position: relative;
  transition-property: background, color, border-color;
  transition-duration: 0.15s, 0.15s, 0.15s;
  cursor: pointer;
  white-space: pre;
  text-align: center;
  column-gap: 8px;
  -webkit-transition-property: background, color, border-color;
  -webkit-transition-duration: 0.15s, 0.15s, 0.15s;
  border-radius: 10px;
  padding: 14px 22px;
  border: 1px solid #ffffff33;
}
.rootcolor_gray {
  background: linear-gradient(#ffffff0f, #ffffff0f), var(--token-PU2kSrpIWaun);
  border-color: #ffffff0f;
}
.rootcolor_clear {
  background: none;
  border-color: #ffffff00;
}
.rootcolor_outlined {
  background: none;
  border-color: #ffffff1a;
}
.rootsize_medium {
  padding-top: 10px;
  padding-bottom: 10px;
}
.rootsize_small {
  font-size: 15px;
  padding: 6px 14px;
}
.root:hover {
  background: var(--token-sxMiRhCxgPbQ);
  color: #ffffff;
}
.rootcolor_outlined:hover {
  background: #ffffff1a;
}
.svg___8CDcu {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slotTargetTitle > *,
.slotTargetTitle > :global(.__wab_slot) > *,
.slotTargetTitle > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetTitle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetTitle > picture > img,
.slotTargetTitle > :global(.__wab_slot) > picture > img,
.slotTargetTitle > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetTitle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  transition-property: color;
  transition-duration: 0.15s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.15s;
}
.root:hover .slotTargetTitle {
  color: #ffffff;
}
.svg__vtSk {
  animation: none;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
