.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  position: relative;
  font-size: 12px;
  color: #cfcfcf;
  cursor: pointer;
}
.root:hover {
  color: #ffffff;
}
.shorthand {
  position: relative;
}
.price {
  position: relative;
  opacity: 0.5;
}
.change {
  position: relative;
  color: var(--token-sxMiRhCxgPbQ);
}
.changeisNegative {
  color: var(--token-QL0xMMXWaeGp);
}
