.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #cfcfcf;
  position: relative;
  row-gap: 2px;
}
.slotTargetIconisCurrent {
  color: var(--token-QL0xMMXWaeGp);
}
.svg__wuFjr {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetTitle {
  font-size: 12px;
}
.slotTargetTitle > *,
.slotTargetTitle > :global(.__wab_slot) > *,
.slotTargetTitle > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetTitle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetTitle > picture > img,
.slotTargetTitle > :global(.__wab_slot) > picture > img,
.slotTargetTitle > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetTitle
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  opacity: 0.6;
}
.slotTargetTitleisCurrent {
  color: #ffffff;
}
.slotTargetTitleisCurrent > *,
.slotTargetTitleisCurrent > :global(.__wab_slot) > *,
.slotTargetTitleisCurrent > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetTitleisCurrent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetTitleisCurrent > picture > img,
.slotTargetTitleisCurrent > :global(.__wab_slot) > picture > img,
.slotTargetTitleisCurrent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetTitleisCurrent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  opacity: 1;
}
